body{
    position: relative;
    width: 1340px;
    height: 650px;  

    background: #F3F5FC;
}

main {
    display: flex;
    margin-left: 1%;
    margin-bottom: 1%;
} 

.Logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.CajaText{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 150px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
    color: #0A3871;
}

#aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 229px;
    height: 18px;
    left: 100px;
    top: 500px;
}

#txt-minusculas{
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    
    position: absolute;
    width: 500px;
    height: 60px;
    left: 100px;
    top: 550px;
}

.encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    
    background: #0A3871;
    border-radius: 24px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#txt-enc{
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.desencriptar {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    
    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#txt-desenc{
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.mensaje-Caja2 {
    position: absolute;
    width: 400px;
    height: 620px;
    left: 925px;
    top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
}

#muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 25px;
    top: 30px;
}

#anuncios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 300px;
    height: 122px;
    left: 30px;
    top: 400px;
}

.Subt{
    width: 336px;
    height: 58px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    
    text-align: center;
    
    color: #343A40;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.info{
    width: 336px;
    height: 48px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    
    color: #495057;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.copiar {
    box-sizing: border-box;
    
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
    position: absolute;
    width: 100px;
    height: 67px;
    left: 140px;
    top: 50px;
}


@media screen and (max-width:480px){
    body{
        position: relative;
        width: 375px;
        height: 933px;
    
        background: #F3F5FC;
    }

    header{
        position: absolute;
        width: 375px;
        height: 96px;
        left: 0px;
        top: 0px;
    }

    .Logo{
        position: absolute;
        left: 40%;
        top: 1%;
        bottom: 25%;
    }

    .mensaje-Caja2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        
        position: absolute;
        width: 300px;
        height: 186px;
        left: 1px;
        top: 660px;
        
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    #anuncios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    
        width: 263px;
        height: 122px;
        left: 1px;
        top: 30px;
        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    #muñeco{
        display: none;
    }

    #aviso{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        
        position: absolute;
        width: 229px;
        height: 18px;
        left: 16px;
        top: 451px;
    }

    .botones {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        
        position: absolute;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;
    }

    .CajaText{
        position: absolute;
        width: 343px;
        height: 48px;
        left: 16px;
        top: 160px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        
        color: #0A3871;
    }

    .copiar {
        box-sizing: border-box;
        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        
        width: 90px;
        height: 67px;  
        top: 140px;
        
        border: 1px solid #0A3871;
        border-radius: 24px;
        
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

}